<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container" style="max-width: 600px">
    <div class="py-5 text-center">
        <h2 >책 상세</h2>
    </div>

    <p>
        <a href="/">홈</a>
    </p>

    <div class="col">
        <label for="bookName">책 이름</label>
        <input type="text" id="bookName" name="bookName" class="form-control" th:value="${book.bookName}" readonly>
    </div>
    <div class="col">
        <label for="publisher">출판사</label>
        <input type="text" id="publisher" name="publisher" class="form-control" th:value="${book.publisher}" readonly>
    </div>
    <div class="col">
        <label for="bookCategory">카테고리</label>
        <input type="text" id="bookCategory" name="bookName" class="form-control" th:value="${book.category}" readonly>
    </div>
    <div class="col">
        <label for="bookPrice">가격</label>
        <input type="text" id="bookPrice" name="bookPrice" class="form-control" th:value="${book.price}" readonly>
    </div>

    <hr class="my-4">

    <div class="row">
        <div class="col">
            <button class="btn btn-primary float-end"
                    onclick="location.href='home.html'"
                    th:onclick="|location.href='@{/review/add/{bookId}(bookId=${book.id})}'|"
                    type="button" th:text="#{page.addReview}">리뷰 쓰기</button>
        </div>
    </div>

    <hr class="my-4">
    <div>
        <table class="table">
            <thead>
            <tr>
                <th th:text="#{label.review.member}">작성자</th>
                <th th:text="#{label.review.rate}">별점</th>
                <th th:text="#{label.review.comment}">코멘트</th>
                <th th:text="#{label.review.date}">작성날짜</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="review : ${reviews}">
                <td th:text="${review.member.getNickname}">작성자</td>
                <td th:text="${review.rate}">별점</td>
                <td th:text="${review.comment}">코멘트</td>
                <td th:text="${review.date}">작성날짜</td>
            </tr>
            </tbody>
        </table>
    </div>

</div> <!-- /container -->

</body>
</html>