<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container" style="max-width: 600px">
    <div class="py-5 text-center">
        <h2 >내가 쓴 리뷰 보기</h2>
    </div>

    <p>
        <a href="/">홈</a>
    </p>

    <hr class="my-4">

    <p>
        <b><a th:text="${member.getNickname}"></a></b>님이 작성한 리뷰는 총
        <a th:text="${#lists.size(reviews)}"></a>개로,<br>
        현재 등급 <a th:text="${member.getGrade}"></a> 입니다.
    </p>

    <form action="" th:action method="post">
    <div>
        <table class="table">
            <thead>
            <tr>
                <th th:text="#{label.review.book}">책 이름</th>
                <th th:text="#{label.review.rate}">별점</th>
                <th th:text="#{label.review.comment}">코멘트</th>
                <th th:text="#{label.review.date}">작성 날짜</th>
                <th th:text="#{label.review.delete}">삭제</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="review : ${reviews}">
                <td th:text="${review.bookName}">책 이름</td>
                <td th:text="${review.rate}">별점</td>
                <td th:text="${review.comment}">코멘트</td>
                <td th:text="${review.date}">작성 날짜</td>

                <td>
                    <div class="form-check">
                        <input type="checkbox" th:field="${deleteReview.ids}"
                               th:value="${review.id}"
                               th:class="form-check-input">
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <button class="w-100 btn btn-primary btn-lg" type="submit">삭제</button>
    </div>
    </form>

</div> <!-- /container -->

</body>
</html>