<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <link th:href="@{/css/bootstrap.min.css}"
        href="../css/bootstrap.min.css" rel="stylesheet">
  <style>
 .field-error {
 border-color: #dc3545;
 color: #dc3545;
 }
 </style>
</head>
<body>

<div class="container" style="max-width: 600px">
  <div class="py-5 text-center">
    <h2 >책 주문하기</h2>
  </div>
  <p>
    <a href="/">홈</a>
  </p>
  <hr class="my-4">

  <form action="" th:action="@{/order/add}" th:object = "${orderForm}" method="post">
    <div>
      <table class="table">
        <thead>
        <tr>
          <th th:text="#{label.book.bookName}">책이름</th>
          <th th:text="#{label.book.publisher}">출판사</th>
          <th th:text="#{label.book.category}">카테고리</th>
          <th th:text="#{label.book.price}">가격</th>
          <th th:text="#{label.book.quantity}">수량</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each = "book, i : ${books}">
          <td th:text="${book.bookName}">책이름</td>
          <td th:text="${book.publisher}">출판사</td>
          <td th:text="${book.category}">카테고리</td>
          <td th:text="${#numbers.formatInteger(book.price, 3, 'COMMA')}">가격</td>
          <td>
            <select th:field="*{quantities}" class="form-select">
              <option th:each="quantity : ${#numbers.sequence(1,99)}"
                      th:value="${quantity}"
                      th:text="${quantity}"></option>
            </select>
            <input type="hidden" th:value="${book.id}" name="ids">
          </td>
        </tr>
        </tbody>
      </table>

      <div class="row">
        <div class="col">
          <button class="w-100 btn btn-primary btn-lg" type="submit">
            주문</button>
        </div>
      </div>
    </div>
  </form>

</div> <!-- /container -->

</body>
</html>