<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head >
  <meta charset="utf-8">
  <link th:href="@{/css/bootstrap.min.css}"
        href="../css/bootstrap.min.css" rel="stylesheet">
  <style>
 .container {
 max-width: 560px;
 }
 </style>
</head>
<body>
<div class="container">
  <div class="py-5 text-center">
    <h2>REBOOK HOME</h2>
    <hr class="my-4">
  </div>
  <div class="jumbotron">
    <div>
      <p class="lead">로그인 정보</p>
      <div class="col">
        <label for="memberNickname">회원 닉네임</label>
        <input type="text" id="memberNickname" name="memberNickname" class="form-control" value="닉네임" th:value="${member.nickname}" readonly>
      </div>
      <div class="col">
        <label for="memberGrade">회원 등급</label>
        <input type="text" id="memberGrade" name="memberGrade" class="form-control" value="등급" th:value="${member.grade}" readonly>
      </div>

      <div >
        <p class="lead"></p>
        <p>
          <a class="btn btn-primary" href="/review/list">내가 쓴 리뷰 보기</a>
          <a class="btn btn-secondary" href="/logout">로그아웃</a>
        </p>
      </div>
    </div>

    <hr class="my-4">
    <div>
      <p class="lead">책 목록</p>
      <p>
        <a class="btn btn-info text-white" href="/books">책 목록 보기</a>
      </p>

    </div>

    <hr class="my-4">
    <div>
      <p class="lead">주문 기능</p>
      <p>
        <a class="btn btn-primary" href="/order">책 주문</a>
        <a class="btn btn-primary" href="/orders">주문 내역</a>
      </p>
    </div>

  </div>
</div> <!-- /container -->
</body>
</html>